body{
	  font-family:cursive;
	  background:url('file:///C:/Users/JYOSHNA/OneDrive/Pictures/blue.png');
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	    }

.container {
	background-color: violet;
	padding:30px;
	border-radius:50px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.2);
	text-align:center;
	}

h1{
	font-size:30px;
	color:
	
}

.form-group {
	margin: 20px 0;
	   }

label {
	font-size:20px;
	font-weight:bold;
	color:#FFD700;
	}

input[type="number"]
{
width: 250px;
padding: 10px;
border: 1px solid black;
border-radius:4px;
}

button {
	background: #007bff;
	color:white;
	border:none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor:pointer;
}

button:hover {
	background:black;
}
